body{
    color: #172b4d;
}
.navbar{
    background-color: #557a98;
    
}
.container{
    border-radius: 3px;
    background-color: #557A95;;
  }
  #main {
    align-items: start;
    font-family:'Newsreader', serif;
  }
  
.title {
    font-weight: 600;
  }
.card{background-color: #557A95;}
h5{
    font-weight: 500;
    color: black;
}
h3{
    font-weight: bold;
}
.card{margin: 5px;
padding: 3px;}
h5{ font-weight: bold;}
p{border: solid black 1px;}